@font-face {
    font-family: "Montserrat-Bold";
    src: url(/font/Montserrat-Bold.ttf);
  }
  
  @font-face {
    font-family: "Montserrat-Regular";
    src: url(/font/Montserrat-Regular.ttf);; 
  }

body {
    background: url(/img/maneFon.png) no-repeat;
    width: 1440px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "Montserrat-Bold";
    font-size: 24px;
    line-height: 29px;
    margin: 0;
}

h3 {
    font-family: "Montserrat-Bold";
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin: 0;
}

h4 {
    font-family: "Montserrat-Regular";
    font-size: 14px;
    font-weight: normal;
}

.headerFon {
    height: 70px;
    background-color: #FFFFFF;
}

.content {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    }

.header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.allLogo {
    display: flex;
    align-items: center;
}

.logoFon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12.5px;
}

.logo {
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    border-radius: 18px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
   
.logoArc {
    margin-top: 12.29px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    list-style-type: none;
    float: left;
    margin-right: 20px;
}

.services {
    display: flex;
    align-items: center;
}

.popUpMenu {
    position: relative;
}

.popUpMenuImg {
    width: 24px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popUpMenuContent {
    display: none;
}

.popUpMenu:hover .popUpMenuContent {
    display: block;
    position: absolute; 
}

li h4 {
    color: rgba(31, 32, 65, 0.5);
    line-height: 17px;
}
.enter {
    width: 87px;
    height: 34px;
    background: linear-gradient(to right, #BC9CFF,#8BA4F9);
    border-radius: 22px;
    color: #BC9CFF;
    border: 0;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .enter h3 {
    width: 83px;
    height: 30px;
    border-radius: 19px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gradientButtom {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 22px;
  }

  .registrationButtom {
    width: 196px;
    height: 34px;
  }

  .contentPositioning {
    display: flex;
    justify-content: space-between;
    height: 760px;
    padding-top: 70px;
    }

  .searchOfNumbers {
    width: 350px;
    height: 324px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 30px;
    padding-top: 40px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  .data {
    display: flex;
    align-items: flex-start;
  }

  .imputName {
    margin-top: 21px;
  }

  .imputName h3 {
    margin-bottom: 5.44px;
  }

  .imputContent {
    display: flex;
    align-items: flex-start;
  }

  .popUpMenuConteiner {
    width: 41px;
    height: 42px;
    border-radius: 0 4px 4px 0;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-left: none;
    margin-right: 20px;
  }

  .imputStandart {
    height: 40px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    padding-left: 15px;
    outline:none;
    font-family: "Montserrat-Regular";
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    border-radius: 4px 0 0 4px;
    border-right: none;
  }

  .DDMMYYYY {
    width: 90px;
  }

  .guests {
    width: 260px;
  }

  .buttomSize {
    width: 320px;
    height: 44px;
  }

  .buttomSizeMargin {
    margin-top: 31px;
  }

  .slogan {
    text-align: right;
    line-height: 24px;
    align-self: flex-end;
  }
 